:root {
    --bg: lavenderblush;
    --grey: #555555;
}

* {
    font-family: "Courier New", Arial, serif;
}

html {
    font-size: 1.5em;
    margin-left: 10vw;
    margin-right: 10vw;
}

body {
    font-size: 1.5em;
    background-color: var(--bg);
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

label {
    font-size: 0.9em;
}

.inputtext {
    padding-top: 0.2em;
    margin-bottom: 0.5em;
    background-color: var(--bg);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 0.8em;
}

.inputtext:focus {
    outline: none;
}

.inputbutton {
    background-color: var(--grey);
    border: 2px solid var(--grey);
    color: var(--bg);
    padding: 0.2em 1em;
    text-align: center;
    transition-duration: 150ms;
    font-size: 0.8em;
    margin-bottom: 1em;
}

.inputbutton:hover {
    background-color: var(--bg);
    color: var(--grey);
    border: 2px solid var(--grey);
}

.inputs, .buttons {
    display: inline-block;
}

.buttons {
}

.t {
    margin-top: 0.1em;
    margin-left: 0.1em;
    float: left;
}

th, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 0.1em 0.5em 0.1em 0.5em;
    font-size: 0.8em;
    border-color: var(--grey);

}

th {
    background-color: var(--grey);
    color: var(--bg);
    font-weight: normal;
}

td:hover {
    font-weight: bold;
    /* Uncomment this to comply 100% with the tasks
    background: #FFDDB5;*/
}

.ten {
    background: #D7F5FF;
}

.ten:nth-child(odd) {
    background: #E1F9FF;
}

.ten:hover {
    background: #BBF0FF;
}

.hundred {
    background: #E7D7FF;
}

.hundred:nth-child(odd) {
    background: #EEE1FF;
}

.hundred:hover {
    background: #E3C5FF;
}

.thousand {
    background: #D7FFEB;
}

.thousand:nth-child(odd) {
    background: #E1FFF1;
}

.thousand:hover {
    background: #C0FFE2;
}

.border {
    height: 10em;
    padding: 1em;
    width: 100%;
}
