@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: "Open Sans";
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
    border-radius: 1px;
}

.main-nav li {
    padding: 0 5%;
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3)
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3)
}

.main-header {
    background-color: rgba(0, 0, 0, 0);
    background-image: url(images/tree-alone.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: "Josefin Sans";
    color: white;
}

.name-large {
    font-size: 8em;
    padding-top: 30px;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 1em auto;
    padding: 0 1.5em;
}

.section-header {
    color: #333;
    text-align: center;
    font-size: 2em;
}

.about-insta-img {
    float: left;
    height: 200px;
    width: 400px;
    margin: 15px;
    border-radius: 1em;
}

.main-footer {
    background-color: #01194d;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 50px;
    height: 50px;
}